<!DOCTYPE html>
<html>
  <head>
    <title>Unicorn</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <%# <%= link_to 'Articles', blorgh_path, class: "nav-link"%>
      <% if user_signed_in? %>
        <%= link_to 'Logout', main_app.destroy_user_session_path, method: :delete, class: "nav-link" %>
        <p>Welcome <%= current_user.email %></p>
      <% else %>
        <%= link_to 'Login', main_app.new_user_session_path, class: "nav-link"%>
        <%= link_to 'Sign up', main_app.new_user_registration_path, class: "nav-link"%>
      <% end %>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
